
body{
	margin:0;
	padding:0;
}
/**Navigation menu**/
.header{
	background-color:#263238;
}
.navBar{
	width:100%;
	position:relative;
	overflow:hidden;
}
.company_Logo_Container{
	height:70px;
}
#companyLogo{
	color:#ffea00;
}
.navLink{
	color:white;
	text-decoration:none;
	width:100%;
}


    /**Media queries**/
    @media (max-width:900px){
    	.navMenu{
    		position:relative;
    		z-index:4;
    		text-align:center;
    		margin-bottom:0;
    		height:75px;  
    		opacity:0.8;
    		margin-top:-85px;
    		margin-left:0;
    		padding-left:0;
    		box-shadow:0 2px 2px grey;
    		
    			   		
    	}
    	.navItem:hover{
    		background-color:#ffea00;
    		width:100%;
    	}
    	.navLink:hover{
    		color:blue;
    		text-decoration:none;
    	}

    	#menu_opener_container{
    		text-align:center;
    		padding:0;

    	}

    		#menu_opener_container >a{
    			color:white;
    			margin:0;
    		}
    	#menu_opener{
    		font-size:30px;
    		color:white;

    	}
    	#menu_opener_container:hover >a {
    		color:yellow;
    	}
    	#menu_opener_container:hover >a>i{
    		color:yellow;
    	}
    	#companyLogo{
    		font-size:40px;
    		position:relative;
    		z-index:2;
    		text-align:center;
    	}
    }
    /*Desktop navbar*/
    @media(min-width:901px){
    	.navMenu{
    		float:right;
    		
    	}
    	.navItem{
    		position:relative;
    		display:inline-flex;
    		margin-left:20px;
    	
    	}
    }

    /*main_content*/
    .main_content{
    	position:absolute;
    	height:100%;
    	width:100%;
    	background-color:#37474f;
    }
    .first_Section{
    	height:40%;
    	box-shadow:0px 1px 1px #263238;
    }
    	#who_are_we{
    		color:white;
    		text-align:center;
    	}
    	.who_are_we_article{
    		text-align:center;
    		color:white;
    		font:arial;
    	}
    .second_Section{
    	height:40%;

    }




