body{
	margin:0;
	padding:0;
}
.navBar{
	width:100%;
	position:relative;
	overflow:hidden;
    margin-top:0;
    padding:0;
    
}
.company_Logo_Container{
	height:70px;
}
.navLink{
	color:white;
	text-decoration:none;
	width:100%;
}
.header{
    backdrop-filter:blur(5px);
}
/**Media queries**/
    @media (max-width:900px){
        body{
            overflow-x:hidden;
        }
    	.navMenu{
            padding:0;
            margin:0;
            margin-top:-85px;
            text-align:center;
        }
    	.navItem:hover{
    		background-color:#ffea00;
    		width:100%;
            filter:blur(0);
    	}
    	.navLink:hover{
    		color:blue;
    		text-decoration:none;
    	}

    	#menu_opener_container{
    		text-align:center;
    		padding:0;
    	}

		#menu_opener_container >a{
			color:white;
			margin:0;
		}
    	#menu_opener{
    		font-size:30px;
    		color:white;

    	}
    	#menu_opener_container:hover >a {
    		color:yellow;
    	}
    	#menu_opener_container:hover >a>i{
    		color:yellow;
    	}
    	#companyLogo{
    		font-size:40px;
    		position:relative;
    		z-index:2;
    		text-align:center;
    	}
        .hr_nav{
            visibility:hidden;
            position:absolute;

        }

    }
        /*Desktop navbar*/
    @media(min-width:901px){
    	#companyLogo{
    		position:absolute;
    		display:flex;
    		float:left;
    		margin-top:20px;
    		margin-left:20px;
    		text-align:center;
    		align-content:center;
    	}
    	.navMenu{
    		float:right;
    		margin-right:10px;
    		padding:0;  
            margin-top:0;        
    	}
    	.navItem{
    		position:relative;
    		display:inline-flex;
    		margin-left:25px;
    	}
    	.navLink{
    		margin-top:10px;
    		margin-bottom:0;
    		height:100%;
    		padding:20px;
    		border-radius:10px 10px 10px 10px;

    	}
    	#menu_opener_container{
    		position: absolute;
    		visibility: hidden;
    	}

    	/*Hover*/
    	.navLink:hover{
            color:white;
    		text-decoration:none;
    		height:80%;
    		transition:background-color 1s ease-in-out;

    	}
        .navLink:hover>.hr_nav{
            height:3px;
            border-radius:10px 10px 10px 10px;
            width:100%;
            transition:width 1s ease-in-out;
        }
        .hr_nav{
            width:0%;
            margin:0;
            padding:0;
            background-color:#ffea00;
        }


    }
/*Effects*/
.header:hover{
    backdrop-filter:blur(10px);
    box-shadow:0px 1px 9px rgb(44,45,48);
    transition:box-shadow 1s ease-in ease-out;
    transition: backdrop-filter 1s ease-in-out;
}
