body{
	/*background-color:#424242;*/
	background-color:rgb(20,20,20);
	margin:0;
	padding:0;
	color:white;
	font-size:100%;
}
hr{
	background-color:white;
}
#getInTouch{
	text-align:center;
	color:white;
}
.columns{
	background-color:red;
}
.row{
	padding-top:20px;
	
}
.formShower{
	cursor:crosshair;
}
#txtArea{
	height:45%;
}
#txtName,#txtEmail,#txtArea{
	border-radius:5px;
	outline:none;
	margin-top:7px;
	padding:5px;
	border:0px solid;
	width:90%;
}
#txtName{
	margin-top:0;
}
#txtEmail:active,#txtName:active,#txtArea:active{
	
}
#tel_Link{
	text-decoration: none;
	color:white;
}
#letter_count{
		text-align:right;
		width:90%;
		margin-left:5%;
	}
.btn {
		display: block;
		background: #ffea00;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 8px;
		width: 90%;
		
	}
	.btn:hover {
		box-shadow: 0 0.4rem 1.4rem 0 #ffea00;
		transform: translateY(-0.1rem);
		transition: transform 150ms;
	}


/*Media queries*/
	/*Desktop*/
@media(min-width:901px){
	.row{
		width:90%;
		margin-left:5%;
		margin-top:0;
		top:0;
		border-radius:10px 10px 10px 10px;
	}
	.contact_form{
		margin-top:-100px;
	}
	.general_Information{
		margin-top:-100px;
		font-size:20px;
		padding:100px;
		padding-top:0;

	}
	#email_Link{
		text-decoration:none;
		color:white;
	}
	label{
		margin-left:10px;
	}
	ul >i{
		position:absolute;
	}
	.formShower{
		visibility: hidden;
		position:absolute;
	}

	
}
/*IPad Pro screen*/
@media(min-width:1024px and min-height:1366px){
	.row> .general_Information, .contact_form{
		margin-top:-400px;
	}
	.general_Information,.contact_form{
		height:auto;
		visibility: visible;
		bottom:auto;
		top:auto;
	}
}

/*Mobile*/
@media(max-width:1023px){
	body{
		text-align:center;

	}

	.row{
		overflow:hidden;
	}
	.row> .general_Information, .contact_form{
		margin-top:0px;
	}
	.general_Information{
		bottom:0;
		height:0; 
		visibility: hidden;

	}
	.contact_form{
		top:0;
		overflow:hidden;
		padding-bottom:60px;


	}
	.general_Information >hr{
		width:50%;
		margin-left:25%;

	}
	.btn{
		margin-left:5%;
	}
	ul >i{
		display:flex;
		position:absolute;
		margin-left:15%;
	}
	.formShower[0]{
		visibility: visible;
		position:relative;
	}

	
}


